#background-div {
    height: 100vh; /* Full height of the viewport */
    background-image: url('/public/images/background3.png'); /* Path to your image */
    object-fit: fill;
    color: rgb(11, 35, 71); /* Text color on top of the background */
    display: flex; /* Use flexbox to center content */
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center; /* Align items to the center vertically */
    align-items: center; /* Center items horizontally
  text-align: center; /* Center text */
    /* padding-top: 20px; /* Optional: Add some padding at the top */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*padding: 20px;*/
    /*min-width: 800;*/
    /*font-weight:bold;*/
}
.info {
    font-size: 1.3vmax;
}

.infoBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vmax;
}

.links-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 1vmax;
    gap: 2vmax;
    padding-bottom: 2.5vmax;
}

.content-container {
    background-color: rgba(172, 231, 255, 0.85);
    padding: 2vmax;
    border-radius: 2vmax;
    /* margin-bottom: 20px;*/
    width: 80%;
    max-width: calc(38vmax + 2rem);
    height: calc(38.5vmax + 2rem);
    min-height: fit-content;
    text-align: center;
}
.question-component {
    margin-top: 40px; /* Space between the header and Question component */
}

.left-align {
    text-align: left;
    margin-bottom: 60px;
}

button {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /*white text */
    border: 2px solid #0c2a33;
    padding: 10px 20px;
    cursor: pointer;
}
