html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scroll bars */
}

#background-div {
    height: 100vh; /* Full height of the viewport */
    background-image: url('/public/images/background3.png'); /* Path to your image */
    background-size: cover;
    object-fit: fill;
    color: rgb(11, 35, 71); /* Text color on top of the background */
    display: flex; /* Use flexbox to center content */
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center; /* Align items to the center vertically */
    align-items: center; /* Center items horizontally
  text-align: center; /* Center text */
    /* padding-top: 20px; /* Optional: Add some padding at the top */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*padding: 20px;*/
    /*min-width: 800;*/
    /*font-weight:bold;*/
}

.content-container {
    background-color: rgba(130, 205, 235, 0.95);
    /* background-color: rgba(113, 203, 238, 0.85);*/
    /*padding-left: 2vmax;
    padding-right: 2vmax;*/
    padding-bottom: 2vmax;
    border-radius: 2vmax;
    /* margin-bottom: 20px;*/
    width: 80%;
    max-width: calc(38vmax + 2rem);
    height: calc(38.5vmax + 2rem);
    min-height: fit-content;
    align-items: center;
    text-align: center;
    gap: 2vmax;
}

button {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 2vmax;
    color: white; /*white text */
    border: 0.25vmax solid #0c2a33;
    padding: calc(0.9vmax + 0.2rem) calc(1.8vmax + 0.4rem);
    cursor: pointer;
}
