.GameBoard_div1 {
  position: static;
}
.GameBoard_img1 {
  position: static;
  width: 1261px;
  height: 643px;
}
.GameBoard_div2 {
  align-content: space-evenly;
  text-align: center;
  border: 5px solid black;
}
